<html>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js" integrity="sha256-ZykW30UBCXWkPGsVyVPdJlUrce9/PawgYCEzinA4pnU=" crossorigin="anonymous"></script>
   
	<script src="/js/data.js"></script>
</head>
<body>
	<h1>General</h1>
	<p>Date: <span id="general-date"></span></p>
	<p>Time: <span id="general-date"></span></p>
	
	<h1>Wallpaper</h1>
	<p>Last Update: <span id="wallpaper-lastupdate"></span></p>
	<p>Url: <span id="wallpaper-url"></span></p>
	<p>Title: <span id="wallpaper-title"></span></p>

	<h1>DHT11 Readings</h1>
	<p>Temperature: <span id="dht-temperature"></span>°C</p>
	<p>Humidity: <span id="dht-humidity"></span>%</p>
	
	<h1>OpenWeatherMap</h1>
	<p>City: <span id="owm-city"></span></p>
	<p>Temperature: <span id="owm-temperature"></span>°C</p>
	<p>Humidity: <span id="owm-humidity"></span>%</p>
</body>
</html>