<html>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   
	<script src="/js/data.js"></script>
</head>
<body>
	<h1>General</h1>
	<p>Last Update: <span id="general-lastupdate"></span></p>
	
	<h1>Wallpaper</h1>
	<p>Last Update: <span id="wallpaper-lastupdate"></span></p>
	<p>Url: <span id="wallpaper-url"></span></p>

	<h1>DHT11 Readings</h1>
	<p>Temperature: <span id="dht-temperature"></span>°C</p>
	<p>Humidity: <span id="dht-humidity"></span>%</p>
</body>
</html>